@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --color-theme: #074643;
    --color-back-1: #5FF7FA;
    --color-back-2: #263238;
}

body {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
}